@use "govuk-frontend" as *;
@use "variables/border-radius" as *;

.app-copy-icon {
  fill: govuk-colour("black");
  border-radius: $app-border-radius;

  &:hover {
    fill: govuk-tint(govuk-colour("black"), 50%);
    cursor: pointer;
  }
}
