{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "filters/macro.njk" import appFilters %}
{% from "autocomplete/macro.njk" import appAutocomplete %}

{% from "icons/search-icon/macro.njk" import appSearchIcon %}

{% block content %}

{{ appHeading({
  text: 'Artifacts',
  caption: 'Search for artifacts'
}) }}

  {% call appFilters({
    action: "",
    method: "POST",
    clear: {
      url: ""
    }
  }) %}

    <div class="app-filters__item">
      {{ appAutocomplete({
        id: "artifact",
        name: "artifact",
        classes: "app-autocomplete--medium app-autocomplete--inline",
        label: {
          text: "Artifact name"
        },
        icon: appSearchIcon(),
        formGroup: {
          classes: "app-form-group--inline"
        },
        value: query.artifact,
        dataFetcher: {
          name: "searchArtifactName",
          loader: "search-artifact-loader"
        },
        loader: {
          name: "search-artifact-loader"
        },
        typeahead: true,
        placeholder: "Search for an artifact"
      }) }}
    </div>

{% endcall %}

{% endblock %}
