{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "filters/macro.njk" import appFilters %}
{% from "autocomplete/macro.njk" import appAutocomplete %}
{% from "tabs/macro.njk" import appTabs %}

{% from "icons/search-icon/macro.njk" import appSearchIcon %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}

{% block content %}
  {{ appHeading({
    text: 'Deployment',
    caption: 'Browse by deployment'
  }) }}

      {% call appFilters({
        action: "",
        clear: {
          url: ""
        }
      }) %}

      <div class="app-filters__item">
        {{ govukSelect({
          id: "environment",
          name: "environment",
          label: {
            text: "Environment"
          },
          items: environments,
          value: query.environment
        }) }}
      </div>

        <div class="app-filters__item">
          {{ appAutocomplete({
            id: "artifact",
            name: "artifact",
            classes: "app-autocomplete--medium app-autocomplete--inline",
            label: {
              text: "Deployment artifact"
            },
            icon: appSearchIcon(),
            formGroup: {
              classes: "app-form-group--inline"
            },
            value: query.artifact,
            dataFetcher: {
              name: "searchArtifactName",
              loader: "search-artifact-loader"
            },
            loader: {
              name: "search-artifact-loader"
            },
            typeahead: true,
            placeholder: "Search for a service"
          }) }}
        </div>

        <div class="app-filters__item">
          {{ govukInput({
            label: {
              text: "Version range"
            },
            id: "version",
            name: "version",
            value: query.version
          }) }}
        </div>

        <div class="app-filters__item">
          {{ govukInput({
            label: {
              text: "Date range"
            },
            id: "date",
            name: "date",
            value: query.date
          }) }}
        </div>

    {% endcall %}

    {% if query.service %}
      {% call appTabs({
        label: "Service views",
        tabs: [
          { label: "Summary", url: "/deployment", isActive: path.endsWith('/deployment') },
          { label: "Dependencies", url: "/deployment/dependencies", isActive: path.endsWith('/deployment/dependencies') },
          { label: "Vulnerabilities", url: "/deployment/vulnerabilities", isActive: path.endsWith('/deployment/vulnerabilities') }
        ]
      }) %}
      {% endcall %}

      {% block pageContent %}{% endblock %}
    {% endif %}

{% endblock %}
