@use "govuk-frontend" as *;

.js-enabled {
  .app-loader {
    display: none;
  }

  // When the loader appears avoid a huge jump, when there is a second button to the right of the loader
  .app-loader--with-adjacent-button {
    margin-right: govuk-spacing(-2);
  }

  .app-loader--is-loading {
    width: 18px;
    height: 18px;
    border: 3px solid $govuk-brand-colour;
    border-bottom-color: transparent;
    border-radius: 100%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: govuk-spacing(1);
  }

  .app-loader--small {
    width: 12px;
    height: 12px;
    border-width: 2px;
  }

  .app-loader--large {
    width: 24px;
    height: 24px;
    border-width: 4px;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

}
