{% extends 'layouts/page.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "filters/macro.njk" import appFilters %}
{% from "autocomplete/macro.njk" import appAutocomplete %}
{% from "tabs/macro.njk" import appTabs %}

{% from "icons/search-icon/macro.njk" import appSearchIcon %}
{% from "icons/tick-icon/macro.njk" import appTickIcon %}

{% block content %}
  {{ appHeading({
    text: 'Service',
    caption: 'Browse by service'
  }) }}

      {% call appFilters({
        action: "",
        clear: {
          url: ""
        }
      }) %}

        <div class="app-filters__item">
          {{ appAutocomplete({
            id: "service",
            name: "service",
            classes: "app-autocomplete--medium app-autocomplete--inline",
            label: {
              text: "Service Name"
            },
            icon: appSearchIcon(),
            formGroup: {
              classes: "app-form-group--inline"
            },
            value: query.service,
            dataFetcher: {
              name: "searchServiceName",
              loader: "search-service-loader"
            },
            loader: {
              name: "search-service-loader"
            },
            typeahead: true,
            placeholder: "Search for a service"
          }) }}
        </div>

        <div class="app-filters__item">
          {{ govukInput({
            label: {
              text: "Version"
            },
            id: "version",
            name: "version",
            value: query.version
          }) }}
        </div>

        <div class="app-filters__item">
          {{ govukSelect({
            id: "environment",
            name: "environment",
            label: {
              text: "Environment"
            },
            items: environments,
            value: query.environment
          }) }}
        </div>

    {% endcall %}

    {% if query.service %}
      {% call appTabs({
        label: "Service views",
        tabs: [
          { label: "Versions", url: "/service", isActive: path.endsWith('/service') },
          { label: "Dependencies", url: "/service/dependencies", isActive: path.endsWith('/service/dependencies') },
          { label: "Vulnerabilities", url: "/service/vulnerabilities", isActive: path.endsWith('/service/vulnerabilities') }
        ]
      }) %}
      {% endcall %}

      {% block pageContent %}{% endblock %}
    {% endif %}

{% endblock %}
