@use "govuk-frontend" as *;
@use "variables/border-radius" as *;

.app-search {
  position: relative;
  width: 24em;
  margin-bottom: govuk-spacing(4);
}

.app-search__control {
  display: flex;
  align-items: center;

  & .app-search-icon {
    position: absolute;
    left: 2px;
    fill: govuk-colour("mid-grey");
    width: 26px;
    height: 26px;
  }
}

.app-search__clear-button {
  margin: 0 govuk-spacing(1) 0 0;
  padding: 0;
  position: absolute;
  display: none;
  top: 8px;
  right: govuk-spacing(1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.app-search__clear-button--show {
  display: block;
}

.app-search__input {
  padding: govuk-spacing(1) govuk-spacing(4) govuk-spacing(1) govuk-spacing(7);
  width: 24em;
  border-radius: $app-border-radius;
  border: 1px solid govuk-colour("mid-grey");

  &:focus {
    border: 1px solid govuk-colour("black");
    box-shadow: none;
  }

  &.govuk-input--error {
    border-color: govuk-colour("red");
  }
}
