{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% from "icons/cancel-icon/macro.njk" import appCancelIcon %}
{% from "icons/search-icon/macro.njk" import appSearchIcon %}

<div class="govuk-form-group app-form-group{%- if params.errorMessage %} govuk-form-group--error{% endif %}"
     data-js="app-form-group"
     data-testid="app-search-group">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    <label class="govuk-label app-label" for="{{ params.id }}" data-testid="app-search-label">
      {{ params.label.text }}
    </label>

    {% if params.hint %}
      {{ govukHint({
        text: params.hint.text,
        html: params.hint.html,
        classes: "app-hint",
        attributes: {
          "data-testid": "app-search-hint"
        }
      }) }}
    {% endif %}
  </h2>

  {% if params.errorMessage %}
    {{ govukErrorMessage({
      id: params.id + "-error",
      classes: "govuk-!-margin-bottom-1 app-error-message",
      attributes: {
        "data-js": "app-error",
        "tabindex": "-1"
      },
      text: params.errorMessage.text
    }) }}
  {% endif %}


  <div class="app-search"
       data-js="app-search"
       data-testid="app-search"
    {% if params.hasSearchResultError %}
      data-has-search-result-error="true"
    {% endif %}>

    <div class="app-search__control">
      {{ appSearchIcon({ description: params.iconDescription }) }}
      <input type="text"
             name="{{ params.name }}"
             id="{{ params.id }}"
             value="{{ params.value }}"
             class="govuk-input app-search__input{% if params.errorMessage %} govuk-input--error{% endif %}"
             autocapitalize="none"
             autocomplete="off"
             role="combobox"
             aria-owns="app-suggestions-{{ params.id }}"
             aria-autocomplete="list"
             aria-expanded="false"
             data-js="app-search-input"
             data-testid="app-search-input"
             data-1p-ignore {# Disable 1 password widget #}
      />
      <button class="app-search__clear-button"
              type="button"
              aria-hidden="true"
              tabindex="-1"
              data-js="app-search-clear-button"
              data-testid="app-search-clear-button"
      >
        {{ appCancelIcon({ description: "Reset input" }) }}
      </button>
    </div>
  </div>
</div>
